/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
PROJECT_CONTEXT
devmap.md
SUMMARY.md
.aider*
*.Identifier
frankenphp
